
.footer {
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background: black;
    .fa {
        color: purple;
        font-size: 125%;
    }
}
