
.footer {
    background: black;
    height: 200px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    .github-link {
        display: none;
    }
    .linkedin-link {
        display: none;
    }
    .fa {
    padding: 0 50px;
    color: purple;
    font-size: 75px;
    }
@include tablet {
    .github-link {
        display: block;
        }
    .linkedin-link {
        display: block;
    }
        height: 100px; 
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        z-index: -1;
        .fa { 
            color: purple;
            font-size: 150%;
        }
    }
}
