.header {
    width: 100vw;
    position: fixed;
    top: 0px;
}
.iceberg-container {
    display: flex;
    background: black;
    justify-content: space-between;
    padding: 0 5em;
    .title {
        font-family: 'Roboto', sans-serif;
        font-size: 125%;
        text-transform: uppercase;
        color: lightgray;
        align-self: center;
    }
}
.iceberg-logo {
    height: 10vh;
    padding: .3em .8em;
    color: white;
}
.header-push {
    height: 10vh;
}