.header {
    width: 100%;
    position: fixed;
    top: 0px;
}
.iceberg-container {
    // display: -moz-box;       
    // display: -ms-flexbox;     
    // display: -webkit-flex;
    display: flex;
    background: black;
    justify-content: space-between;
    padding: 0 5rem;
    .title {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: lightgray;
        align-self: center;
    }
}
.iceberg-logo {
    height: 60px;
    padding: 5px;
    color: white;
}
.header-push {
    height: 60px
}