@import "variables";

@mixin desktop {
    @media (min-width: $desktop-width) {
      @content;  
    }
}
@mixin tablet {
    @media (min-width: $tablet-width) {
      @content;  
    }
}
@mixin mobile {
    @media (min-width: $mobile-width) {
      @content;  
    }
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-photo {
    @include tablet {
    height: 90vh;
    width: 100%;
    background: url(../images/forest-ferg.jpg) no-repeat center top;
    background-size: cover;
    }
}
.developer {
    display: none;
        @include desktop {
        display: block;
        position: absolute;
        bottom: 10%;
        left: 10%;
        font-family: 'Roboto', sans-serif;
        border: 10px solid hsla(0%, 100%, 0%, .5);
        border-radius: .2em;
        background: black;
        background-clip: padding-box;
        padding: .3em .8em;
        color: grey;
    }
}
.musician {
    display: none;
        @include desktop {
        display: block;
        position: absolute;
        bottom: 10%;
        right: 10%;
        font-family: 'Roboto', sans-serif;
        border: 10px solid hsla(0%, 100%, 0%, .5);
        border-radius: .2em;
        background: black;
        background-clip: padding-box;
        padding: .3em .8em;
        color: grey;
    }
}

.albums-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background: black;
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    font-size: 175%;
}

.album-list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.album {
    background: black;
    @include mobile {
        flex: 1 0 100%;
    }
    @include tablet {
        flex: 1 0 50%;
    }
    @include desktop {
        flex: 1 0 23%;
    }
}
.album-image {
    height: 100%;
    width: 100%;
}
.album:hover {
    opacity: .25;
}
