@import "variables";

@mixin desktop {
    @media (min-width: $desktop-width) {
      @content;  
    }
}
@mixin tablet {
    @media (min-width: $tablet-width) {
      @content;  
    }
}
@mixin mobile {
    @media (min-width: $mobile-width) {
      @content;  
    }
}
.banner-photo {
    height: 700px;
    width: 100%;
    background: url(../images/forest-ferg.jpg) no-repeat center top;
    background-size: cover;
}

.albums-text {
        height: 40px;
        background: black;
        color: lightgray;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        text-align: center;
        padding-top: 7px;
    }

.album-list {
    display: flex;
    flex-flow: row wrap;
}
.album {
    background: black;
    @include mobile {
        flex: 1 0 100%;
    }
    @include tablet {
        flex: 1 0 50%;
    }
    @include desktop {
        flex: 1 0 23%;
    }
}
.album-image {
    height: 100%;
    width: 100%;
}
.album:hover {
    opacity: .25;
}
